@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sorts Mill Goudy", sans-serif;
}

body {
  color: white; /* Texto blanco */
  background-color: #161616;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #ebe9eb;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #454545;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  padding: 35px 0;
  z-index: 99999;
}

header.sticky {
  padding: 0;
}

header ul {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header.sticky ul {
  background-color: #161616;
}

.nav-menu {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 40px;
  transition: 0.3s ease;
}

.nav-menu a:hover {
  color: #96885f;
}

.logo {
  width: 90px;
  padding-top: 6px;
  transition: 0.3s ease;
}

header.sticky .logo {
  width: 70px;
}

.banner {
  position: relative;
  background: url(/assets/img/background.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  opacity: 0.2;
}

.productos {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
  cursor: pointer;
  margin: 50px;
}

.productos li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
  margin: 0 1.4%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 4.5px solid gray;
  border-radius: 20px;
  transition: 0.5s;
  background: white;
}

.productos li:hover {
  border-color: #96885f;
  transform: scale(1.1);
}

.productos h2 {
  font-size: 30px;
  font-weight: bolder;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-descripcion:hover {
  color: #96885f;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* poner juntos img y el content info */

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.contact-info {
  max-width: 400px;
}

.contact-info h2 {
  color: #96885f;
}

.map-container {
  position: relative;
  width: 50%;
  height: 100%;
}

.map-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }

  .map-container {
    width: 100%;
    height: 300px;
  }

  .contact-info {
    max-width: 120%;
    margin-bottom: 20px 0px;
  }
}

footer {
  background: url(/assets/img/bg.jpg);
  text-align: center;
  color: white;
  padding: 10px;
}

.logo-footer {
  width: 3rem;
}

.copyright {
  color: white;
  font-size: 14px;
  margin: 5px 20px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* contacto style*/

form {
  margin: 40px 0;
  color: white;
}

form label,
form legend {
  display: block;
  font-size: 19px;
  margin: 0 0 10px;
}

.input-padron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 10px;
  width: 50%;
  border: 4px solid gray;
}

select {
  font-size: 16px;
  padding: 10px;
  width: 53%;
  border: 4px solid gray;
}

.checkbox {
  margin: 20px 0;
}

.submit {
  width: 53%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #454545;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s all;
}

.submit:hover {
  background: #96885f;
  transform: scale(1.1);
}

/* home style*/

.titulo-principal {
  text-align: left;
  font-size: 2em;
  margin: 0 1 1em;
  padding: 40px;
  color: #96885f;
}

.principal {
  overflow: auto;
  color: #ebe9eb;
  padding: 2em 0;
  overflow: hidden;
}

.principal p {
  font-size: 20px;
  line-height: 1.2;
}

.principal strong {
  font-weight: bold;
  color: #96885f;
}

.titulo-mapa {
  text-align: center;
  font-size: 2em;
  margin: 0 1 1em;
  color: white;
  padding: 20px;
  color: #96885f;
}

.mapa p {
  color: white;
  font-size: 20px;
  margin: 0 0 1em;
  text-align: center;
}

.mapa {
  padding: 2em 0;
}

.titulo-diferenciales {
  text-align: right;
  font-size: 2em;
  margin: 0 1 1em;
  padding: 40px;
  color: #96885f;
}

.items {
  line-height: 2.5;
  font-size: 20px;
}

.diferenciales {
  overflow: auto;
  color: white;
  padding: 4em 0;
}

.imagen-diferenciales {
  width: 60%;
  padding: 30px;
  float: left;
  margin-right: 10px;
  transition: 0.5s;
  border-radius: 40px;
}

.imagen-diferenciales:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.video {
  width: 560px;
  margin: 1em auto;
  padding: 1em 0;
}
